body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
html,body,
{
    height:100% !important;
}
.list-group{
    list-style: disc;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom:  10px;
    font-weight: 500;
    line-height: 1.1;

}
.list-group-item{
    position: relative;
    display: block;

}

/*@media (min-width: 792px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}*/
.menu-list{
    background: darkgray;
    color: white;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
}
.menu-item{
    background: darkgray;
    border: none;
    padding: 5px 1px 1px 15px;
}
.menu-item:hover{
    color: #ffd524;
    transition: all linear 0.2s;
}
#menu{
    background: darkgray;
    padding-top: 20px;
    padding-left: 15px;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    height: 100%;
    display: inline-block;
}
.logo{
    margin-left: 15px;
}
.menuparent:hover{
    color: #ffd524;
    transition: all linear 0.2s;
    cursor: pointer;
}

.menufade {
    transition: all linear 0.3s;
}
.menufade.ng-hide {
    opacity: 0;
}
#menu a:link {
    text-decoration: none;
    color: white;
}

#menu a:visited {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    text-decoration: none;
    color: #ffd524;
    transition: all linear 0.2s;
}

#menu a:active {
    text-decoration: none;
    color: white;
}
#content{
    display: block;
    width: 60%;
    min-height: 100%;
    flex-grow: 100;
    background: lightgray;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: white;
}
.type-span{
    margin-right: 20px;
}
.photo{
    height: 100px;
    width: 100px;
}
.main-container{
    display: flex;
    flex-flow: row wrap;
    height: 100% !important;
    width: 100%;
    position: absolute;
}
.flex-card{
    display: inline-block;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 210px;
    background-color: white;
    border-radius: 4px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px 1px darkgray;
}
.flex-card-photo{
    float: left;
}
.flex-card-details{
    float: left;
    margin: 5px;
    width: 280px;
    font-size: 12px;
    line-height: 12px;
}
#content-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width:100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.profile-image{
    padding: 5px;
    border-radius: 4px 0 0 4px;
    display:inline;
}
.profile-name{
    font-size: 18px;
    color: #ffd623;
}
.profile-categories{
    color: #BBB
}