{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
<link href="{% static 'kb/site.css' %}" rel="stylesheet">
</head>

<body ng-controller="AppController">
<div class="main-container">
        {% include 'kb/sidebar.html' %}

        {% block content %}
        {% endblock %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
<script type="text/javascript" src="{% static 'kb/site.js' %}"></script>
</body>
</html>